#left-side-menu {}

.menu-item {
    display: flex;
    align-items: center;
    column-gap: .8em;
    padding: .5em;
    border-radius: .5rem;
}

.menu-item:hover {
    background-color: var(--gray);
}

.menu-item img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}